/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 151, 165);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 1px auto;
    padding: 0 50px;
    background-color: #fff;
    width: 80%;
    border-radius: 7px;
}

/* header */

#name-website {
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#logo {
    line-height: 100px;
    vertical-align: middle;
}

#name-logo {
    display: inline-block;
    font-size: 40px;
}

/* structure main */

.customization-section {
    padding: 10px 10px;
}

#add-task {
    color: #fff;
    background-color: rgb(109, 171, 241);
    border: 0;
    border-radius: 7px;
    height: 40px;
    width: auto;
    padding: 10px 10px;
    vertical-align: middle;
}

#add-section {
    color: lightgray;
    background-color: #fff;
    border-color: lightgray;
    border-radius: 7px;
    height: 40px;
    width: auto;
    padding: 10px 10px;
    vertical-align: middle;
}

/* structure list element */

.list {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

.item-list {
    font-size: 20px;
    padding-top: 10px;
}

.check{
    color: lightgreen;
    border: solid;
    border-radius: 50%;
}

.cross {
    color: red;
    border: solid;
    border-radius: 50%;
}

.reference {
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 5px;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: blueviolet;
}

.lightgreen {
    background-color: lightgreen;
}
